<mat-card class="card" *ngFor="let item of items">
  {{ item.objectID }}
  <mat-card-header>
    <mat-card-title>{{ item.title }}</mat-card-title>
    <mat-card-subtitle
      >{{ item.num_comments }} comments | {{ item.points }} points |
      {{ item.author }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-actions align="end">
    <a mat-stroked-button [routerLink]="['/item/', item.objectID]"
      >Read comments</a
    >
    <a mat-stroked-button href="{{ item.url }}" target="_blank">Read more</a>
  </mat-card-actions>
</mat-card>
