.tree {
  margin: 10px 10px 20px;
}

.tree-invisible {
  display: none;
}

.tree .mat-nested-tree-node div[role="group"] {
  padding-left: 40px;
}

.tree div[role="group"] > .mat-tree-node {
  padding-left: 40px;
}

mat-card {
  margin: 10px 10px;
}
