.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.content {
  width: 1200px;
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
  }
}
